#header{
  margin-bottom: 50px;
}

#footer .inner,
#header .inner{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Raleway", Helvetica, sans-serif;;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

#footer .inner h1,
#header .inner h1{
  text-indent: 3px;
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
}

#footer .inner a,
#header .inner a{
  text-decoration: none;
  color: inherit;
}

#header .inner .right{
  float: right;
  display: inline-block;
  text-transform: uppercase;
}
#header .inner .left{
  margin-left: 40px;
  display: inline-block;
  text-transform: uppercase;
}
#header .inner .left a{
  font-size: 12px;
  margin-right: 15px;
}
#header .inner .left i{
  margin-right: 5px;
}

#footer .inner{
  border-bottom: none;
  border-top: 1px solid hsl(0, 0%, 80%);
}

#footer{
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}


.about, .big{
  font-family: "Raleway", Helvetica, sans-serif;;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
}
.about h1{
  letter-spacing: 3px;
}
.about p{
  line-height: 1.75;
}

.about .divide{
  margin-top: 100px;
  margin-bottom: 0px;
}

.divide{
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
  opacity: .2;
}

.content {
  font-family: "Raleway", Helvetica, sans-serif;;
  width: 650px;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}
.content a {
  color: #4d4d4d;
  text-decoration: none;
}
.content a:hover{
  text-decoration: underline;
}

.big a {
  color: black;
  text-decoration: none;
}

.tag-list{
  margin-top: 20px;
  margin-bottom: 0px;
  background: hsl(0, 0%, 90%);
  text-align: center;
  padding: 10px;
  padding-bottom: 5px;
  position: relative;
  border-radius: 5px;
  display: none;
}

#post_tags{
  display: block;
  background: transparent;
  text-align: left;
  padding: 0;
}
#post_tags::before{
  display: none;
}

#post_tags .tag{
  opacity: 1;
  -webkit-transform: scale( 0.9 );
  -moz-transform: scale( 0.9 );
  transform: scale( 0.9 );
}

.tagged-title{
  margin-top: 50px;
  border-bottom: 0;
  font-size: 12px;
  display: inline-block;
}

.tag-list::before{
  content: '';
  display: block;
  position: absolute;
  border: 5px solid;
  border-color: transparent transparent hsl(0, 0%, 90%) transparent;
  top: -10px;
  left: 170px;
}

.tag-list.is-visible .tag{
  opacity: 1;
  -webkit-transform: scale( 0.9 );
  -moz-transform: scale( 0.9 );
  transform: scale( 0.9 );
}
.tag-list .tag{
  list-style: none;
  display: inline-block;
  background: hsl(0, 0%, 30%);
  color: white;
  font-size: 12px;
  border-radius: 3px;
  padding: 5px 12px;
  margin-bottom: 5px;;
  opacity: 0;
  -webkit-transform: scale( 0.6 );
  -moz-transform: scale( 0.6 );
  transform: scale( 0.6 );
  -webkit-transition: .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition: .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.tag-list .tag a{
  color: white;
}
.content .posts {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
.content .posts ul {
  margin: 0;
  padding: 0;
}
.content .posts li {
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  position: relative;
  line-height: 1.7em;
  font-size: 16px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.content .posts li a{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.content .posts li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.content .posts li span {
  display: inline-block;
  width: 120px;
  padding-right: 20px;
  text-align: right;
  font-size: 12px;
  color: hsl(0, 0%, 50%);
  font-family: "Consolas", monospace;
  display: block;
  margin: 0;
  width: 100%;
  text-align: center;
}
.content .posts,
.content #post {
  margin-bottom: 100px;
}
.body {
  line-height: 1.9;
  color: #333;
  font-size: 18px;
  font-weight: 400;
}
.body a {
  text-decoration: underline;
  color: #666;
  font-weight: 400;
}
.body h1 {
  margin: 1em 0;
  position: relative;
}
.body h1::after {
  content: "";
  width: 10px;
  height: 1px;
  display: block;
  background: #808080;
  bottom: -0.5em;
  position: absolute;
}
.body h1 a {
  color: #000;
  text-decoration: none;
}
h2 {
  font-size: 1.3em;
  margin: 0.1em 0;
  font-weight: 500;
  border-bottom: 1px solid #e6e6e6;
}
h4 {
  font-size: 1.1em;
  margin: 0.1em 0;
  font-weight: 500;
  border-bottom: 1px solid #e6e6e6;
}
code {
  font-size: 12px;
  background: #e6e6e6;
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.MathJax_Display code {
  background: none;
  border: none;
}
pre {
  background-color: #f2f2f2;
  padding: 20px 10px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  border-radius: 3px;
  box-shadow: 0 0px 2px #fff inset;
  line-height: 1.75;
  color: #666;
  overflow: scroll;
}
pre code {
  background: none;
  border: none;
}
