---
layout: default
external:
---

<header class="big">
  <h1>
  <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>
  <span> {{ page.date | date: "%b %d, %Y" }} </span>
</header>

<div class="content">
  <div id="post">
    <div class="body">
      {{ content }}
    </div>

    <h4 class='tagged-title'>Tagged:</h4>
    <ul id="post_tags" class='tag-list'>
    {% for tag in page.tags %}
      <li class='tag'><a href="/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
    <div class="divide">
    {% include ornaments.html %}
    </div>
    {% include comments.html %}
  </div>
</div>
